<ion-header>
  <ion-toolbar>
    <ion-title>
      Theme Bhai 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item (click)="themeService.themeMode()">
      <ion-icon name='color-fill' slot="start"></ion-icon>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
  <!-- [(ngModel)]="darkMode" -->


  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Lists</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>ionic Lists 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>ionic List 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>ionic List 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>ionic List 4</ion-label>
    </ion-item>
  </ion-list>
</ion-content>